In [4]:
def create_table(table_name):
        import MySQLdb
        import os
        from dotenv import load_dotenv
        load_dotenv()

        aurora_host = os.getenv('AURORA_HOST')
        aurora_database = os.getenv('AURORA_DATABASE')
        aurora_user = os.getenv('AURORA_USER')
        aurora_pwd = os.getenv('AURORA_PWD')

        conn = MySQLdb.connect(host=aurora_host, user=aurora_user, password=aurora_pwd, db=aurora_database, charset='utf8', port=3306)

        cur = conn.cursor()
        if table_name == 'delete':
                cur.execute('''
                            drop table cd_store2;
                            ''')
        if table_name == 'region_info':
                cur.execute('''
                        create table region_info(
                                cd_div_cd int(20) not null,
                                cd_div_nm varchar(100) not null,
                                cd_cd int(20) primary key,
                                cd_nm varchar(100) not null,
                                br_cd int(20) not null,
                                br_nm varchar(100) not null,
                                ab_cd int(20) not null,
                                ab_nm varchar(100) not null
                        )
                ''')
        if table_name == 'code_info':
                cur.execute('''
                        create table code_info(
                                st_cd varchar(100) primary key,
                                st_nm varchar(100) not null
                        )
                ''')
        if table_name == 'cd_store2':
                cur.execute('''
                        create table cd_store2(
                                aq_cd int(30) not null,
                                cd_cd int(30) not null,
                                st_cd varchar(100) not null,
                                cd_div_cd varchar(100) not null,
                                total_ns int(30) not null,
                                si_ns int(30) not null,
                                total_or int(30) not null,
                                open_ns int(30) not null,
                                total_cr int(30) not null,
                                close_ns int(30) not null,
                                franchise_ns int(30) not null,
                                primary key (aq_cd, cd_cd, st_cd)
                        )
                ''')

        conn.commit()
        conn.close()

In [9]:
create_table('delete')

In [3]:
def insert_data(data, table):
    import MySQLdb
    import os
    from dotenv import load_dotenv
    load_dotenv()

    aurora_host = os.getenv('AURORA_HOST')
    aurora_database = os.getenv('AURORA_DATABASE')
    aurora_user = os.getenv('AURORA_USER')
    aurora_pwd = os.getenv('AURORA_PWD')

    conn = MySQLdb.connect(host=aurora_host, user=aurora_user, password=aurora_pwd, db=aurora_database, charset='utf8', port=3306)

    cur = conn.cursor()

    if table == 'region_info':
        cur.execute('insert into region_info(cd_div_cd, cd_div_nm, cd_cd, cd_nm, br_cd, br_nm, ab_cd, ab_nm) values (%s, %s, %s, %s, %s, %s, %s, %s)',
                    data)
    
    if table == 'code_info':
        cur.execute('insert into code_info(st_cd, st_nm) values (%s, %s)',
                    data)

    if table == 'cd_store':
        cur.execute('insert into cd_store(aq_cd, cd_cd, st_cd, cd_div_cd, total_ns, si_ns, total_or, open_ns, total_cr, close_ns, franchise_ns) values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)',
                    data)

In [2]:
import pandas as pd

In [3]:
df_region_info = pd.read_csv('output/region_info.csv', encoding='utf-8', index_col=0)
df_cd_store = pd.read_csv('output/cd_store.csv', encoding='utf-8', index_col=0)
df_code_info = pd.read_csv('output/code_info.csv', encoding='utf-8', index_col=0)

In [4]:
df_region_info_dict = df_region_info.to_dict(orient='records')
df_cd_store_dict = df_cd_store.to_dict(orient='records')
df_code_info_dict = df_code_info.to_dict(orient='records')

In [8]:
df_region_info_dict[0]

{'cd_div_cd': 'A',
 'cd_div_nm': '골목상권',
 'cd_cd': 3110008,
 'cd_nm': '배화여자대학교(박노수미술관)',
 'br_cd': 11110,
 'br_nm': '종로구',
 'ab_cd': 11110515,
 'ab_nm': '청운효자동'}

In [9]:
data_store = [(
    df_cd_store_dict[j]['aq_cd'],
    df_cd_store_dict[j]['cd_cd'],
    df_cd_store_dict[j]['st_cd'],
    df_cd_store_dict[j]['cd_div_cd'],
    df_cd_store_dict[j]['total_ns'],
    df_cd_store_dict[j]['si_ns'],
    df_cd_store_dict[j]['total_or'],
    df_cd_store_dict[j]['open_ns'],
    df_cd_store_dict[j]['total_cr'],
    df_cd_store_dict[j]['close_ns'],
    df_cd_store_dict[j]['franchise_ns']
            ) for j in range(len(df_cd_store_dict))]

data_region = [(
    df_region_info_dict[j]['cd_div_cd'],
    df_region_info_dict[j]['cd_div_nm'],
    df_region_info_dict[j]['cd_cd'],
    df_region_info_dict[j]['cd_nm'],
    df_region_info_dict[j]['br_cd'],
    df_region_info_dict[j]['br_nm'],
    df_region_info_dict[j]['ab_cd'],
    df_region_info_dict[j]['ab_nm']
            ) for j in range(len(df_region_info_dict))]

In [ ]:
import MySQLdb
import os
from dotenv import load_dotenv
load_dotenv()

aurora_host = os.getenv('AURORA_HOST')
aurora_database = os.getenv('AURORA_DATABASE')
aurora_user = os.getenv('AURORA_USER')
aurora_pwd = os.getenv('AURORA_PWD')
conn = MySQLdb.connect(host=aurora_host, user=aurora_user, password=aurora_pwd, db=aurora_database, charset='utf8', port=3306)
cur = conn.cursor()

cnt = 0
for i in range(len(data_region)):
    cur.execute(f'''
                insert into region_info(cd_div_cd, cd_div_nm, cd_cd, cd_nm, br_cd, br_nm, ab_cd, ab_nm) values 
                {data_region[i]}
                ''')
    cnt += 1
    print(cnt)

conn.commit()
conn.close()

In [ ]:
conn = MySQLdb.connect(host=aurora_host, user=aurora_user, password=aurora_pwd, db=aurora_database, charset='utf8', port=3306)
cur = conn.cursor()

cnt = 0
for i in range(143638):
    cur.execute(f'''
                insert into cd_store(aq_cd, cd_cd, st_cd, cd_div_cd, total_ns, si_ns, total_or, open_ns, total_cr, close_ns, franchise_ns) values 
                {data_store[i*10]},
                {data_store[(i*10)+1]},
                {data_store[(i*10)+2]},
                {data_store[(i*10)+3]},
                {data_store[(i*10)+4]},
                {data_store[(i*10)+5]},
                {data_store[(i*10)+6]},
                {data_store[(i*10)+7]},
                {data_store[(i*10)+8]},
                {data_store[(i*10)+9]}
                ''')
    cnt += 1
    print(cnt)

conn.commit()
conn.close()